@use './mixins';

.modal {
  &__container {
    position: relative;
    padding: var(--spacing-6x) var(--spacing-8x);
    border: var(--border);
  }

  &__title {
    margin: 0 0 var(--spacing-2x) 0;
  }

  &__header {
    margin-bottom: var(--spacing-4x);
    border-bottom: 1px solid var(--modal-divider-color)
  }
}

dialog::backdrop {
  @include mixins.adjustBlackOpacity(0.5);
}

.sub-form {
  text-align: left;

  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-3x);
  }

  &__field {
    padding: var(--spacing-base) var(--spacing-2x);
    border: 1px solid var(--border-color);

    &:focus,
    &:focus-visible {
      outline: var(--border);
      outline-offset: calc(0px - var(--border-width) - 2px); //inset border by 1px
    }
  }

  &__button-bar {
    display: flex;
    justify-content: flex-end;
    display: relative;
    padding-top: var(--spacing-2x);
    margin-top: var(--spacing-4x);
    border-top: 1px solid var(--modal-divider-color);
  }

  &__button {
    margin:  var(--spacing-base);
    padding: var(--spacing-base) var(--spacing-2x);
    border: 1px solid var(--button-border);
    border-radius: var(--border-radius);

    &--submit {
      font-weight: 600;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--button-background-hover);
    }

    &:focus {
      outline: var(--border);
      outline-offset: -4px;
    }

     &--submit {
      background-color: rgb(43, 155, 29);
      color: var(--white);
      border-color:transparent;

      &:focus {
        outline-color: var(--white);
      }

      &:hover {
        background-color:rgb(37, 133, 25);
      }
    }

    &--disabled {
      background-color: var(--background-disabled);
      color: var(--text-disabled);
      border-color:var(--text-disabled);

      &:hover {
        background-color: var(--background-disabled);
      }
    }
  }

  label {
    font-size: var(--font-small);
  }

  &__input,
  &__select {
    padding: var(--spacing-base);
    border: 1px solid var(--border-color);
    font-family: "Inter", "sans-serif";
    font-weight: 300;

    &--invalid {
      border-color: var(--alert-message);
    }

    &:focus {
      outline: 2px solid black;
      outline-offset: -4px;
    }
  }

  .asterisk {
    padding: 0 var(--spacing-base);
    color: var(--alert-message);
    font-weight: bold;
  }

  .validation-message {
    position: absolute;
    left: var(--spacing-6x);
    margin-top: 0;
    font-size: var(--font-xsmall);
    color: var(--alert-message);
  }
}