$borderWidth: 2px;
$border: $borderWidth solid rgb(49, 49,49);
$borderRadius: 4px;
$marginWidth: 10px;
$toggleWidth: 45px;
$toggleSliderWidth: 16px;
$togglePadding: 6px;

.bench {
  // background-color: #9fc76a;
  // background-color: #e7ae27;
  // margin: 20px 20px 0 0;
  grid-area: bench;
  padding-right: 15px;
  min-width: 190px;
  width: 20%;
  position: relative;
  justify-self: end;

  &__title {
    margin: 5px 0 10px 0;
    font-family: 'Michroma', sans-serif;
    text-align: right;
    position: relative;
    padding-right: 5px;
    &.unavailable {
      font-size: 18px;
    }
  }
  &__player-option {
    margin: 8px 0 8px 5%;
    // margin-left: 5%;
    text-align: left;
    position: relative;
    display: grid;
    grid-template-columns: max-content auto 16px;
    column-gap: $marginWidth;

    &.unavailable {
      font-size: 14px;
      width: 70%;
      justify-self: end;
    }
    &:has(button:hover) {
      background-color: rgba(49, 49,49, 0.08);
    }
  }

  &__position-container {
    display: flex;
    justify-content: space-between;
    &.hidden {
      visibility: hidden;
    }
    .button--edit {
      position: static;
    }
  }
  
  &__background {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  &__sub-warning {
    position: relative;
    padding: 4px 0;
    margin-bottom: 4px;
    background-color: rgb(49, 49, 49);
    color: white;
    font-weight: bold;
  }

  &__sub-button.sub-form__button {
    position: relative;
    border-width: $borderWidth;
  }
}

.toggle-label-container {
  width: 100%;
  text-align: left;
  margin-left: calc(5% - 6px);
  position: relative;
}
.toggle {
  box-sizing: border-box;
  text-align: left;
  padding: $togglePadding;
  line-height: 24px;
  &__container {
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    border: $border;
    border-radius: 20px;
    width: $toggleWidth;
    height: 24px;
    position: relative;
    top: $togglePadding;
    right: -2px;
  }
  &__slider {
    &::before {
      position: absolute;
      left: $borderWidth;
      top:  $borderWidth;
      content: '';
      height: $toggleSliderWidth;
      width: $toggleSliderWidth;
      border-radius: 50%;
      background-color: black;
    }
  }
  &__input {
    appearance: none;
    outline: none;
    margin: 0;
    &:checked {
      &+ .toggle__container {
        .toggle__slider::before {
          // border * 3 refers to L & R borders and the 2px inner padding
          left: calc( $toggleWidth - calc($borderWidth * 3) - $toggleSliderWidth);
        }
      }
    } 
  }
  &__text {
    display: inline-block;
    width: 130px;
  }
  &:has(.toggle__input:focus, .toggle__input:active) {
    border: $border;
    border-radius: $borderRadius;
    padding: calc($togglePadding - $borderWidth);
  }
  &:hover {
    cursor: pointer;
    border: $border;
    border-radius: $borderRadius;
    padding: calc($togglePadding - $borderWidth);
    background-color: rgba(49, 49, 49, 0.08);
  }
}
