.dropdown {
  display: flex;
  align-items: center;
  background: var(--white);
  border: 2px solid var(--button-border);

  &:has(button:hover) {
      border-color: rgb(30, 30, 30);
    }

  &__container {
    width: var(--form-element-width);
  }

  &__button--main {
    box-sizing: border-box;
    position: relative;
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: var(--spacing-base) var(--spacing-2x);
    background: var(--white);
    border: none;
    border-radius: 4px;

    &:not(.unselected) {
      font-weight: 500;
    }
  
    &:focus,
    &:focus-visible {
      outline: var(--border);
      outline-offset: calc(0px - var(--border-width) - 1px); //inset border by 1px
    }
  }

  &__menu {
    box-sizing: border-box;
    max-height: 110px;
    position: absolute;
    width: 195px;
    overflow: auto;
    margin: 0;
    padding: var(--spacing-base);
    background: var(--dropdown-background);
    border: 1px solid var(--border-color);
    z-index: 1;

    .dropdown__option--warning {
      width: 100%;
      font-size: var(--font-small);
      color: rgb(249, 109, 109);

      .dropdown {
        &__value {
          display: inline-block;
          width: 100%;
          padding: var(--spacing-base) 0;
          background: var(--unavailable-list-background);
          font-weight:600;
        }
        
        &__button--warning {
          font-weight: 400;
          width: 100%;
          margin: var(--spacing-base) 0 0 0;
        }
      }
    }
  }

  &__option {
    border: var(--border-width) solid transparent;

    &[aria-selected="true"] {
      border: var(--border);
    }
  }

  &__button--option {
    width: 100%;
    padding: var(--spacing-base);
    background: var(--white);
    border: none;
    text-align: center;

    &:hover {
      background: var(--button-background-hover);
    }
  }

  &__value {
    &:hover {
      background: var(--button-background-hover);
    }
  }

  //user agent stylesheet overriding default font, so re-defining here
  &__button--main,
  &__value,
  &__button--warning {
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
}

//Modifier classes for dropdown
.dropdown--formation,
.dropdown--jersey {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-base);
  margin-bottom: var(--spacing-2x);
}

.dropdown--formation {
  z-index: 30;
}

.field-position {
  .dropdown__container {
    position: absolute;
    bottom: -10px;
    width: 100%;

    .dropdown__menu {
      width: 100%;
    }
  }
}