$borderWidth: 2px;
$buttonVerticalPadding: 4px;

.dropdown {
  position: absolute;
  bottom: 0%;
  width: 100%;

  &.formation {
    position:relative;
    width: calc(100% - 20px);
    margin: 5px 10px;
  }

  &__container {
    background-color: white;
    border: 1px solid rgb(149, 149, 149);
    position: relative;
  }

  &__button {
    box-sizing: border-box;
    background-color: white;
    border: none;
    padding: $buttonVerticalPadding calc($buttonVerticalPadding * 2);
    height: 100%;
    width: 100%;
    position: relative;
    &:focus, &:focus-visible {
      outline: $borderWidth solid rgb(49, 49,49);
      outline-offset: calc(0px - $borderWidth - 1px); //inset border by 1px
    }
    .dropdown-caret {
      height: 18px;
      top: 0px;
    }
  }

  &__menu {
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(149, 149, 149);
    border-top: none;
    margin-top: 0;
    width: 100%;
    padding: 4px;
    z-index: 1;
  }

  &__option {
    border: $borderWidth solid transparent;
    margin-bottom: 2px;
    &[aria-selected="true"] {
      border: $borderWidth solid rgb(49, 49,49);
    }
    &__button {
      border: none;
      width: 100%;
      background-color: white;
      text-align: center;
      padding: $buttonVerticalPadding calc($buttonVerticalPadding / 2);
      &:hover {
        background-color: rgba(49, 49, 49, 0.08);
      }
    }
  }

  .no-option-warning {
    font-size: 14px;
    width: 100%;
    color: rgb(227, 15, 15);
    &__button {
      margin-top: 4px;
    }
  }
  &__value {
    width: 100%;

    &:hover {
      background-color: rgba(49, 49, 49, 0.08);
    }
  }
}



