.field {
  grid-area: field;
  position: relative;
  width: 100%;
  // z-index: 10;
  &__setup {
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-52%);
    margin: 0 auto;
    width: 80%;
    height: 725px;
  }
  &__image {
    width: 100%;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    height: 750px;
    position: absolute;
  }

  &__line {
    padding: var(--spacing-5x) 0;
    display: flex;
    justify-content: space-around;
    &:first-child {
      padding-top: 0;
    }
    &.spread {
      padding-bottom: 40px;
    }
  }
}

.field-position {
  width: 150px;
  &__icon {
    height: 120px;
  }
  &__icon-container {
    position: relative;
  }
  &__title {
    position: absolute;
    top: 25%;
    margin: var(--spacing-base) auto;
    width: 100%;
    color: var(--white);
    font-size: var(--font-xlarge);
    font-weight: bold;

    &.away {
      color: rgb(131, 10, 10);
    }
  }
}
