.field {
  width: 75%;
  &__setup {
    width: 80%;
    margin: 20px auto;
    background-image: url('../assets/Field-Layout.webp');
    background-size: cover;
    height: calc(100vh - 100px - 40px - 20px - 20px);
    //should calculate height based on total height - header - form - margins/padding
  }

  &__line {
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
    &:first-child {
      padding-top: 50px;
    }
  }

  &__warning {
    position: relative;
    top: 50%;
  }
}

.field-position {
  width: 150px;
  &__icon-container {
    position: relative;
  }
  &__icon {
    height: 120px;
  }
  &__title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 4px auto;
    width: 100%;
    position: absolute;
    top: 30%;
  }
}
