@use './mixins';

body {
  // background-color: rgb(246, 243, 237);
  background-color: #E9F2DF;
  text-align: center;
  font-size: var(--font-regular);
  box-sizing: border-box;
}

.app {
  height: 100vh;

  &__main {
    height: 100%;
    display: grid;
    grid-template-areas:
      "field intro"
      "field bench";
    grid-template-columns: 1fr 300px;
    grid-template-rows: max-content 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-3x);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: 15;

  &__warning {
    @include mixins.bench-titles;
    span {
      color: white;
    }
    animation: fade-in-out 1500ms 50 ease-in alternate;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (prefers-reduced-motion) {
  .overlay__warning {
    animation: none;
    opacity: 1;
  }
}

.intro-content {
  grid-area: intro;
  margin-left: -100px;
  position: relative;
  // z-index: 20;

  &__title {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  &__image {
    height: 90px;
  }
  h1 {
    font-family: 'Michroma', 'sans-serif';
    font-size: var(--font-h1);
    margin: var(--spacing-6x) 0;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}