@media (max-width: 1100px) {
  .app__main {
    grid-template-columns: 1fr 250px;
  }

  .hero-section {
    margin-left: -110px;
  }

  .hero-section__title-text {
    --font-h1: 45px;
    margin-bottom: var(--spacing-4x);
  }

  .field {
    &__image,
    &__setup {
      height: 680px;
    }
  }

  .field-position {
    width: 130px;

    &__icon {
      height: 110px;
    }
  }
}

@media (max-width: 925px) {
  .app {
    height: initial;

    &__main {
      grid-template-areas:
        "intro"
        "field"
        "bench";
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content 1fr;
    }
  }

  .hero-section {
    margin: 0 0 var(--spacing-6x) 0;

    &__title {
      justify-content: center;
    }

    &__dropdowns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: var(--spacing-6x);
    }
  }

  .bench {
    width: 70%;
    margin: var(--spacing-3x) auto;
    display: grid;
    grid-template-areas:
      "title title"
      "available unavailable";
    grid-template-columns: 5fr 4fr;
    column-gap: 5%;
    height: max-content;

    &__title {
      text-align: left;
      grid-area: title;
    }

    &__player-list {
      .bench__player-option {
        margin-left: 0;
        width: 100%;
      }
    }

    .available-list,
    .unavailable-list {
      border: var(--border);
      box-shadow: var(--spacing-base) var(--spacing-base) var(--spacing-3x) rgb(180, 180, 180);
      border-radius: var(--border-radius);
    }

    .available-list {
      grid-area: available;
      padding: var(--spacing-3x) var(--spacing-6x);
    }

    &__header {
      background-color: var(--player-options-background);
      color: var(--white);
      padding: var(--spacing-2x);
    }
    
    &__subtitle {
      text-align: center;
      margin: 0;
    }
    
    .unavailable-list {
      grid-area: unavailable;
      background-color: rgb(216, 225, 206);

      .bench__player-list {
        padding: var(--spacing-6x);
        margin: 0;
      }
    }
  }

  .toggle {
    width: 180px;
  }

  .toggle-label-container {
    margin-left: 0;
  }
}

@media (max-width: 655px) {
  body {
    font-size: var(--font-small);
  }

  .app__main {
    padding: 0;
  }

  .bench {
    font-size: var(--font-regular);
    width: 90%;
    grid-template-columns: 3fr 2fr;

    .unavailable-list {
      .bench__player-list {
        padding: var(--spacing-6x) var(--spacing-4x);
      }
    }
  }

  .field {
    &__image {
      max-height: 525px;
      width: 110%;
      left: -5%;
      top: 52%;
    }

    &__setup {
      width: 90%;
      max-height: 525px;
    }

    &__line {
      padding: var(--spacing-3x) 0;
    }

    .field-position {
      &__icon {
        height: 90px;
      }

      .dropdown__button {
        &.unselected {
          text-align: left;
        }

        .dropdown-caret {
          height: 60%;
          top: 3px;
          right: var(--spacing-base);
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .hero-section {
    &__title-text {
      --font-h1: 40px;
    }

    &__image {
      height: 70px;
    }
  }
  .bench {
    grid-template-areas:
      "title"
      "available"
      "unavailable";
    row-gap: var(--spacing-6x);
    grid-template-columns: 1fr;
    width: 65%;

    .unavailable-list {
      .bench__player-list {
        padding: var(--spacing-6x);
      }
    }
  }

  .field {
    &__setup {
      width: 100%;
    }

    &__image {
      max-height: 500px;
      width: 120%;
      left: -10%;
    }
  }

  .field-position {
    width: 115px;
  }
}