@media (max-width: 1100px) {
  .app__main {
    grid-template-columns: 1fr 250px;
  }
  .intro-content {
    margin-left: -110px;
  }
  .field {
    &__image,
    &__setup {
      max-height: 680px;
    }

    .field-position {
      width: 130px;

      &__icon {
        height: 110px;
      }
    }
  }

  .intro-content h1 {
    font-size: 45px;
    margin-bottom: 16px;
  }

  .bench {
    min-width: 175px;
    
    &__background-container {
      display: flex;
      justify-content: end;
      width: 315px;
      height: 100%;
    }
    &__background {
      object-fit: fill;
    }
  }

  .toggle__text {
    width: 115px;
  }
}

@media (max-width: 925px) {
  .app {
    height: initial;
    &__main {
      grid-template-areas:
        "intro"
        "field"
        "bench";
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content 1fr;
    }
  }

  .intro-content {
    margin-left: 0;
    margin-bottom: 18px;

    &__title {
      justify-content: center;
    }
    &__dropdowns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 24px;
      padding: 0 12px;
    }
  }

  .bench {
    width: 70%;
    margin: 12px auto;
    padding-right: 0;
    display: grid;
    grid-template-areas:
      "title title"
      "available unavailable";
    grid-template-columns: 5fr 4fr;
    column-gap: 5%;
    height: max-content;
    overflow-y: visible;

    &__background-container {
      display: none;
    }
    &__title {
      text-align: left;
      grid-area: title;
    }

    .bench__player-list {
      margin: 0;
      padding: 12px 24px 24px 24px;
      .bench__player-option {
        margin-left: 0px;
        width: 100%;
      }
    }

    &__player-name {
      font-weight: bold;
    }

    .available-list,
    .unavailable-list {
      border: 2px solid rgb(42, 42, 42);;
      box-shadow: 3px 3px 10px rgb(180, 180, 180);
      border-radius: 4px;
    }

    .available-list {
      grid-area: available;
      .bench__player-option {
        .button--edit {
          &:not(.update) {
            border-radius: 12px;
          }
          &:focus {
            border-color: white;
          }
          &:hover {
            background-color: rgb(129, 129, 129);
          }
        }
      }
    }

    &__header {
      background-color: rgb(42, 42, 42);
      color: white;
      padding: 8px;
      .bench__subtitle {
        text-align: center;
        margin: 0;
      }
    }
    .unavailable-list {
      grid-area: unavailable;
      background-color: rgba(0,0,0,0.1);

      .bench__player-option {
        width: 100%;
      }
    }
  }

  .toggle-label-container {
    margin-top: 8px;
    padding-left: 24px;
  }
}

@media (max-width: 655px) {
  body {
    font-size: 14px;
  }

  .app__main {
    padding: 0;
  }

  .intro-content {
    &__dropdowns {
      row-gap: 6px;
    }
  }



  .bench {
    font-size: 16px;
    width: 90%;
    grid-template-columns: 3fr 2fr;
  }

  .field {
    overflow-x: clip;
    &__image{
      max-height: 525px;
      width: 110%;
      left: -5%;
    }
    &__setup {
      width: 90%;
      max-height: 525px;
    }

    &__line {
      padding: 10px 0;
    }

    .field-position {
      width: 110px;
      &__icon {
        height: 90px;
      }
      &__title {
        font-size: 20px
      }

      .dropdown__button {
        &.unselected {
          text-align: left;
        }
        .dropdown-caret {
          // font-size: 10px;
          height: 60%;
          top: 3px;
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .intro-content {
    h1 {
      font-size: 40px;
    }
    &__image {
      height: 70px;
    }
  }
  .bench {
    grid-template-areas:
      "title"
      "available"
      "unavailable";
    row-gap: 24px;
    grid-template-columns: 1fr;
    width: 65%;
    min-width: 235px;
  }

  .field {
    &__setup {
      width: 100%;
    }
    &__image {
      max-height: 500px;
      width: 120%;
      left: -10%;
    }
  }
}