@mixin title-text($font-size: var(--font-large), $margin-top-bottom: var(--spacing-2x)) {
  font-family: 'Michroma', sans-serif;
  font-size: $font-size;
  margin: $margin-top-bottom 0;
}

@mixin adjustBlackOpacity($opacity) {
  background-color: rgba(var(--black-values-list), $opacity);
}