@use './mixins';

.toggle-label-container {
  //local variable
  --init-margin-value: -16px;

  width: 100%;
  margin-left: var(--init-margin-value);
}

.toggle {
  //local variables
  --toggle-width: 45px;
  --toggle-slider-width: 16px;

  padding: var(--spacing-base);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--form-element-width);

  &__container {
    box-sizing: border-box;
    position: relative;
    width: var(--toggle-width);
    height: 24px;
    background-color: var(--white);
    border: var(--border);
    border-radius: var(--border-radius-round);
  }

  &__slider {
    &::before {
      position: absolute;
      left: var(--border-width);
      top:  var(--border-width);
      height: var(--toggle-slider-width);
      width: var(--toggle-slider-width);
      background-color: var(--black);
      border-radius: var(--border-radius-round);
      content: '';
    }
  }

  &__input {
    appearance: none;
    outline: none;
    margin: 0;

    &:checked + .toggle__container .toggle__slider::before {
      // Move slider to the right when checked
      // border * 3 refers to L& R borders + padding
      left: calc(var(--toggle-width) - calc(var(--border-width) * 3) - var(--toggle-slider-width));
    }
  }

  // Focus and hover states
  &:has(.toggle__input:focus-visible),
  &:has(.toggle__input:active),
  &:hover {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: calc(var(--spacing-base) - var(--border-width));
  }

  &:hover {
    @include mixins.adjustBlackOpacity(0.1);
    cursor: pointer;
  }
}

@media (max-width: 1100px) and (min-width: 925px) {
  .toggle-label-container {
    --init-margin-value: -66px;
  }
}
