/* body {
  background-color: rgb(44, 44, 44);
} */

/* .field {
  width: 60%;
  max-width: 600px;
  margin: 20px auto;
  background-image: url('./assets/Field-Layout.webp');
  background-size: cover;
  height: 80vh;
} */
/* .field-line {
  margin: 60px 0px;
  display: flex;
  justify-content: space-around;
} */

.field-position-dropdown {
  position: relative;
}
/* 
.field-position {
  margin: 4px auto;
} */
/* 
.field-position-dropdown-container {
  background-color: white;
  border: 1px solid rgb(149, 149, 149);
  width: 150px;
  position: relative;
}
.field-position-dropdown-button {
  background-color: white;
  border: none;
  padding: 2px 8px;
  height: 100%;
  width: 100%;
  position: relative;
}

.field-position-dropdown-menu {
  position: absolute;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(149, 149, 149);
  border-top: none;
  margin-top: 0;
  width: 150px;
  padding: 5px;
  z-index: 1;
}


.player-option {
  background-color: white;
  margin-bottom: 2px;
  border: none;
}

.selected {
  border: 2px solid green
}
} */
.bench {
  width: 25%;
}
.player-bench {
  margin: 10px;
  margin-left: 35%;
  text-align: left;
  position: relative;
}
